language: python
matrix:
    include:
        - python: 3.3
        - python: 3.4
        - python: 3.5
        - python: 3.6
        - python: 3.7
          dist: xenial
          sudo: true

install:
  - pip install -r requirements/requirements-dev.txt

script:
  - coverage run --source=spellchecker setup.py test

# commands to run after the tests successfully complete
after_success:
  - coveralls
